.logo{
    -fx-font-size:  50px;
    -fx-font-family: "Open Sans";
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

}
.botaoInicio{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-padding: 8 20 8 20;
    -fx-background-radius: 10px;
}
.botaoInicio:hover{

}
.botaoReclamacao{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-padding: 8 20 8 20;
    -fx-background-radius: 10px;
}
.botaoReclamacao:hover{

}
.botaoReclamacoes{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-padding: 8 20 8 20;
    -fx-background-radius: 10px;
}
.botaoReclamacoes:hover{

}

.titulo{
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-text-weight: bold;
}
.subtitulo{
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-text-weight: bold;
}
.root{
    -fx-background-color: #012a36;
    -fx-background-blend-mode;

}