* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {

    background: #ecf0f1;
    height: 100vh;
}

.container {

    display: flex;
    height: 100vh;
}

.sidebar {

    width: 220px;
    background: #2c3e50;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar h2 {

    color: white;
    margin-bottom: 10px;
}

.sidebar button {

    background: #34495e;
    color: white;

    border: none;

    padding: 12px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;
}

.sidebar button:hover {

    transform: scale(1.05);
    background: #3d566e;
}

.content {

    flex: 1;

    padding: 30px;
}

.content h1 {

    margin-bottom: 20px;
}